*{box-sizing:border-box;}
body{background:white;}
table{border-collapse:collapse;width:300px;float:left;}
td{vertical-align:top;font-size:xx-small;}
td>*{width:100%;}
td .left{float:left;}
td .center{text-align:center;}
td .right{float:right;}
.hide{display:none;}
#logoOptions:not(.hide){display:inline;}
#logoOptions>*{background:gray;padding:3px;cursor:pointer;}
#logoOptions>*.active{background:green;color:white;}
#logoWrap{border:1px solid gray;background:wheat;}
#logoImg{max-width:100px;max-height:100px;}
#qrcanvas{float:left;margin:20px;}
